@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Orbitron:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

/* Loader Start */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.975);
  z-index: 9999;
}

.loader {
  font-size: 100px;
  color: red;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
}

.loader-container p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}
/* Loader End */

/* Hero Section */
.hero {
  background-image: url(../assets/Hero-Image-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.countdown {
  margin-top: 5rem;
}
.countdown p {
  font-size: 1.1rem;
}

#timer {
  margin: 0.6rem 0;
  font-size: 4rem;
  font-family: "Orbitron", sans-serif;
  color: #c1a597;
}

.title h1 {
  font-size: 6rem;
  font-family: "Alex Brush", cursive;
  word-spacing: 10px;
}

.time p {
  color: #d3c5be;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  gap: 30px;
}

.buttons a {
  padding: 10px 18px;
  background-color: rgba(255, 255, 255, 0.35);
  color: #fff;
  border-radius: 2px;
  font-size: 1.25rem;
  width: 150px;
  text-align: center;
}
.buttons a:hover {
  background-color: #8f6e5d;
}

@media screen and (max-width: 899px) {
  #timer {
    margin-bottom: 0.6rem;
    font-size: 3rem;
  }

  .title h1 {
    font-size: 4.5rem;
    word-spacing: 7px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../assets/mobile.png);
  }

  #timer {
    margin-bottom: 0.6rem;
    font-size: 2rem;
  }

  .title h1 {
    font-size: 2.25rem;
    word-spacing: 5px;
    margin-bottom: 15px;
  }
  .buttons {
    gap: 15px;
    padding: 30px 0px;
  }
  .buttons a {
    padding: 10px 18px;
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
    font-size: 1.1rem;
    width: 130px;
    text-align: center;
  }
}
