/* Navbar */
.navbar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 5px 25px;
}

.logo img {
  width: 50px;
  aspect-ratio: 1;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  z-index: 2;
}

.menu-list {
  display: flex;
}

.menu-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-list li {
  margin: 0 25px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}

.menu-list li a {
  color: white;
  letter-spacing: 1px;
}
.menu-list li a:hover {
  color: #8f6e5d;
}

#cta-nav {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
#cta-nav:hover {
  background-color: #8f6e5d;
  border-radius: 2px;
  cursor: pointer;
}

#cta-nav a {
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #8f6e5d;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: slideIn 0.5s forwards;
    justify-content: center;
  }

  .menu-list ul {
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
  }
  .menu-list ul li {
    font-size: 2rem;
    margin: 25px;
  }
  .menu-list li {
    padding: 8px 20px;
  }
  .menu-list li a:hover {
    color: #302b28;
  }
  #cta-nav:hover {
    background-color: #302b28;
  }

  .menu-list.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .overlay.active {
    display: block;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
